a{
    color: var(--black);
}

.n-wrapper{
    height:10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    /* flex:0; */
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.n-name{
    padding-top: 1.4rem;
    font-size:1.3rem;
    font-weight: bold;
    transform: scale(1.4);
}

.n-right{
    display:flex;
    flex: 0.1;
    font-size: small;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    z-index: 2;
}

.n-list{
    flex: 10;
    
}

.n-list ul{
    display:flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
}

.n-list>ul>li>a:hover{
    color: var(--orange);
    cursor:pointer;
}

.n-list a{
    text-decoration: none;
}

@media screen and (max-width:480px){
    .n-list{
        display: none;
    }
}