

.toggle{
    margin-top: 10px;
    display: flex;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    justify-content: space-around;
    cursor: pointer;
    border: 3px solid gray;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
}

.t-button{
    border-radius: 50%;
    background: var(--orange);
    position: absolute;
    transform: scale(1.1);
    left: 2px;
    transition: .3s ease-out;
}